{{#if success_msg}}
<div class="container">
    <div class="alert alert-success" id="success-alert">
        {{success_msg}}
    </div>
</div>
{{/if}}

{{#if error_msg}}
<div class="container">
    <div class="alert alert-danger" id="error-alert">
        {{error_msg}}
    </div>
</div>
{{/if}}